.otp-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url('./pexels-rostislav-5011647.jpg');
  background-size: cover;
  background-position: center;
}

.otp-form {
  background-color: #fff;
  padding: 40px 30px;
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 100%;
  max-width: 400px;
}

.otp-form h2 {
  margin-bottom: 20px;
  font-size: 24px;
  color: #333;
}

.otp-inputs {
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
  gap: 10px;
}

.otp-box {
  width: 45px;
  height: 50px;
  font-size: 24px;
  text-align: center;
  border: 2px solid #ccc;
  border-radius: 8px;
  outline: none;
  transition: border-color 0.3s, box-shadow 0.3s;
}

.otp-box:focus {
  border-color: #4a90e2;
  box-shadow: 0 0 5px rgba(74, 144, 226, 0.5);
}

.otp_button[type="submit"] {
  background-color: #0f5cb3;
  color: #fff;
  border: none;
  padding: 12px 24px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.otp_button[type="submit"]:hover {
  background-color: #000000;
  color: white;
}

.timer-resend {
  margin-top: 15px;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.timer-text {
  color: #555;
  font-weight: 500;
}

.resend-button{
  background: none;
  border: none;
  color: #007bff;
  font-weight: bold;
  cursor: pointer;
  font-size: 14px;
  text-decoration: underline;
  padding: 0;
}

